<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X_UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about_us.css') }}">
    <title>About Us</title>
</head>
<body>
    <div class="wrapper">
        <h1>About Me</h1>
        <div class="user-info">
            <h2>User Information</h2>
            <p>
                <strong>Name:</strong> {{ user.fullname }}<br>
                <strong>Email:</strong> {{ user.email }}<br>
            </p>
        </div>
    </div>
</body>
</html>
